<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

      <!-- TODO: Add SDKs for Firebase products that you want to use
      https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    <title>Covid19-Tracker!</title>
  </head>
  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand navbar-dark fixed-top" id="mainnav">
        <a class="navbar-brand text-center" href="/"> Covid-19
          <img id="flag" width="18%"  src="https://img.icons8.com/bubbles/64/000000/india.png"/>
          Tracker
        </a>
      
        <div>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/country">Worldwide Data</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/guidelines">Guidelines</a>
            </li>
          </ul>
        </div>
      </nav>


      

