<%- include ("partials/header") %>

<div id="header" class="container">
    <div class="jumbotron">
      <div class="text-center text-white" id="jumboContent">
        <h1 class="display-4" id="jumboHeading">COVID19-<span class="name">Guidelines</span></h1>
        <p class="lead" id="jumboLead">We keep you updated!!</p>
      </div>
    </div>
</div>

<!-- <div class="container text-center my-lg-5 ">
    <div>
        <iframe class="modal-sm" width="560" height="315" src="https://www.youtube.com/embed/wh-sRmTWGTw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div> -->
  
  
  <!-- 1:1 aspect ratio -->
<div class="container my-5">
    <div class="row">
        <div class="col-md-2 col-1"></div>
        <div class="col-md-8 col-10">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wh-sRmTWGTw" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-2 col-1"></div>
    </div>
</div>



<div class="container">
    <div class="jumbotron my-5 p-0 bg-white">
        <div class="row">
            <div class="col-8 p-lg-4 p-md-2">
                <div class="pt-lg-4 pt-md-2 pl-lg-3 pl-md-2 p-1 pt-2 guideBody">
                    <h3 class="pb-lg-3 pb-md-2 guideHead">Wash your hands</h3>
                    <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water. Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</p>
                    <p>Avoid touching eyes, nose and mouth. Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and infect you.</p>
                </div>
            </div>
            <div class="col-4 p-0">
                <img class="img-fluid"  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-1.png?sfvrsn=3d15aa1c_2">
            </div>
        </div>
    </div>
    <div class="jumbotron my-5 p-0 bg-white">
        <div class="row">
            <div class="col-4 p-0">
                <img class="img-fluid"  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-3.png?sfvrsn=b1ef6d45_2">
            </div>
            <div class="col-8 p-lg-4 p-md-2">
                <div class="pt-lg-4 pt-md-2 pl-lg-3 pl-md-2 p-1 pt-2 guideBody">
                    <h3 class="pb-lg-3 pb-md-2 guideHead">Protect others</h3>
                    <p>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze.</p>
                    <p>If you have a fever, cough and difficulty breathing, seek medical attention, but call by telephone in advance if possible and follow the directions of your local health authority</p>
                </div>
            </div>
        </div>
    </div>
    <div class="jumbotron my-5 p-0 bg-white">
        <div class="row">
            <div class="col-8 p-lg-4 p-md-2">
                <div class="pt-lg-4 pt-md-2 pl-lg-3 pl-md-2 p-1 pt-2 guideBody">
                    <h3 class="pb-lg-3 pb-md-2 guideHead">Social Distancing</h3>
                    <p>Avoid going to crowded places. Why? Where people come together in crowds, you are more likely to come into close contact with someone that has COIVD-19 and it is more difficult to maintain physical distance of 1 metre.</p>
                    <p>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth and nose with your bent elbow or tissue when you cough or sneeze</p>
                </div>
            </div>
            <div class="col-4 p-0">
                <img class="img-fluid"  src="https://www.who.int/images/default-source/health-topics/coronavirus/risk-communications/general-public/protect-yourself/blue-2.png?sfvrsn=2bc43de1_2">
            </div>
        </div>
    </div>
</div>







<%- include ("partials/footer") %>
